@{
<<<<<<< HEAD
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
=======
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
>>>>>>> 50aab336b9c455806c6a3725494884ed39824dc1

<p>Use this area to provide additional information.</p>
